@import "../import.scss";

textarea:focus,
input:focus {
  outline: none;
}

.input-box {
  padding: 14px 20px;
  border: 1px solid map-get($colors, white-three);
  font-size: 16px;

  &.sm {
    padding: 11px 11px 13px 11px;
    max-height: 40px;
  }

  &::placeholder {
    /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: map-get($colors, warm-grey);
    font-size: 14px;
    letter-spacing: -1px;
    opacity: 1; /* Firefox */
  }

  &::-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    color: map-get($colors, warm-grey);
    font-size: 14px;
  }

  &::-ms-input-placeholder {
    /* Microsoft Edge */
    color: map-get($colors, warm-grey);
    font-size: 14px;
  }
}
