$power: 5%;

@mixin button-color($color: $main-color, $border-color: $color, $percent: $power) {
  background: $color;
  border: 1px solid $border-color;
  &:hover {
    background: lighten($color, $percent);
    border: 1px solid lighten($color, $percent);
  }
  &:active {
    background: darken($color, $percent);
    border: 1px solid darken($color, $percent);
  }
}
body {
  button,
  .button {
    display: inline-block;
    cursor: pointer;
    background: $main-color;
    border: 1px solid $main-color;
    color: #fff;
    // border-radius: 15px;
    padding: 5px 20px;
    transition: background 0.2s;
    outline: none;

    &[disabled],
    &.disabled,
    &[read-only],
    &.read-only {
      cursor: not-allowed;
      border: 1px solid #999;
      background: #999;
      color: #ddd;
      &:hover {
        background: #999;
        color: #ddd;
      }
    }
    &:focus {
      outline: 0;
    }
    &:hover {
      background: lighten($main-color, $power);
      border: 1px solid lighten($main-color, $power);
    }
    &:active {
      transition: 0.1s;
      background: darken($main-color, $power);
      border: 1px solid darken($main-color, $power);
    }

    &.close {
      &:hover {
        background: none;
      }
      &:focus {
        background: none;
      }
      &:active {
        background: none;
      }
    }
    &.small {
      padding: 0.4rem 1.8rem;
      font-size: 12px;
      color: #fff;
    }
    &.medium {
      padding: 1rem 2.5rem;
      font-size: 16px;
      color: #fff;
    }
    &.large {
      padding: 1rem 2.5rem;
      font-size: 21px;
      color: #fff;
    }
    &.highlight {
      @include button-color(#ffffff);
      border: 1px solid $main-color;
      color: $main-color;
      &:hover {
        @include button-color($main-color);
        color: #fff;
      }
    }

    &.main {
      @include button-color($main-color);
      color: white;
      width: 120px;
      height: 40px;
      border-radius: 2px;
    }
    &.white {
      @include button-color(#ffffff);
    }
    &.sub {
      @include button-color(#8c9c88);
    }
    &.orange {
      @include button-color(#d6a156);
    }
    &.pastel-red {
      @include button-color(#e45c58);
    }
    &.green {
      @include button-color(#8c9c88);
    }
    &.green-deep {
      @include button-color(#588681);
    }
    &.dark {
      @include button-color(#626262);
    }
    &.gray {
      @include button-color(#8d8d8d);
    }
    &.greyish {
      @include button-color(#444444);
    }
    &.greyish-brown-two {
      @include button-color(#4a4a4a);
    }
    &.warm-grey {
      @include button-color(#9b9b9b);
    }
    &.warm-grey-two {
      @include button-color(#7f7f7f);
    }
    &.marcaroni {
      @include button-color(#eeae42);
    }

    [disabled],
    &.disabled {
      background-color: #f5f5f5;
      color: #dfccb8;
    }
  }
}
